<a [routerLink]="['/restaurants', restaurant.id]" class="card clickable">
  <div class="card-header">
    {{ restaurant.name }}
    <span class="right">
      <clr-icon *ngFor="let star of fakeArray" shape="star" class="is-solid"></clr-icon>
      <clr-icon *ngIf="rest" shape="half-star" class="is-solid" id="half-star"></clr-icon>
    </span>
  </div>

  <div class="card-block">
    <div class="card-media-block">
      <img [src]="restaurant.imagePath" class="card-media-image">
      <div class="card-media-description">
        <span class="card-media-title">
          {{ restaurant.category }}
        </span>
        <span class="card-media-text">
          {{ restaurant.deliveryEstimate }}
        </span>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <span>
      <clr-icon [attr.shape]="status.icon" class="is-solid"></clr-icon>
      {{ status.message }}
    </span>
    <span class="right floated">
      <clr-icon shape="star" [class.is-solid]="restaurant.favorite"></clr-icon>
      Favorito
    </span>
  </div>
</a>