<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
  <p class="lead">
    Lancheteria | Aplicação demo que simula um sistema de pedidos de lanches desenvolvida por Helder Bertoldo
  </p>
  <p class="lead">GPL V3 License</p>
  <p class="lead">Copyright 2018 btd1337(<a href="https://github.com/btd1337/">btd1337</a>)</p>
  <p class="lead">Permission is hereby</p>
  <p class="lead">The above copywrith</p>
  <p class="lead">THE SOFTWARE IS PROVIDED "AS IS"</p>
  <p class="lead">Imagens usadas na aplicação por</p>
</section>