<section class="content-header">
  <h1>
    Todos os Restaurantes
  </h1>
</section>


<section class="content">

  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Tasty Treats
          <span class="right">
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="half-star" class="is-solid"></clr-icon>
          </span>
        </div>

        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/img/restaurants/tasty.png" class="card-media-image">
            <div class="card-media-description">
              <span class="card-media-title">
                Bakery
              </span>
              <span class="card-media-text">
                40-65m
              </span>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <span>
            <clr-icon shape="success-standard" class="is-solid"></clr-icon>
            Open
          </span>
          <span class="right floated">
            <clr-icon shape="star" class="is-solid"></clr-icon>
            Favorite
          </span>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Ice Cream
          <span class="right">
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="half-star" class="is-solid"></clr-icon>
          </span>
        </div>

        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/img/restaurants/icy.png" class="card-media-image">
            <div class="card-media-description">
              <span class="card-media-title">
                Ice Cream
              </span>
              <span class="card-media-text">
                45-60m
              </span>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <span>
            <clr-icon shape="no-access" class="is-solid"></clr-icon>
            Closed
          </span>
          <span class="right floated">
            <clr-icon shape="star"></clr-icon>
            Favorite
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Burger House
          <span class="right">
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="half-star" class="is-solid"></clr-icon>
          </span>
        </div>

        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/img/restaurants/burgerhouse.png" class="card-media-image">
            <div class="card-media-description">
              <span class="card-media-title">
                Hamburgers
              </span>
              <span class="card-media-text">
                30-55m
              </span>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <span>
            <clr-icon shape="success-standard" class="is-solid"></clr-icon>
            Open
          </span>
          <span class="right floated">
            <clr-icon shape="star" class="is-solid"></clr-icon>
            Favorite
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Coffee Corner
          <span class="right">
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
          </span>
        </div>

        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/img/restaurants/coffeecorner.png" class="card-media-image">
            <div class="card-media-description">
              <span class="card-media-title">
                Coffee Shop
              </span>
              <span class="card-media-text">
                35-70m
              </span>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <span>
            <clr-icon shape="no-access" class="is-solid"></clr-icon>
            Closed
          </span>
          <span class="right floated">
            <clr-icon shape="star"></clr-icon>
            Favorite
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header">
          Green Food
          <span class="right">
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
            <clr-icon shape="star" class="is-solid"></clr-icon>
          </span>
        </div>

        <div class="card-block">
          <div class="card-media-block">
            <img src="assets/img/restaurants/greenfood.png" class="card-media-image">
            <div class="card-media-description">
              <span class="card-media-title">
                Traditional
              </span>
              <span class="card-media-text">
                45-75m
              </span>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <span>
            <clr-icon shape="success-standard" class="is-solid"></clr-icon>
            Open
          </span>
          <span class="right floated">
            <clr-icon shape="star"></clr-icon>
            Favorite
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-header">
              Bread &amp; Bakery
            <span class="right">
              <clr-icon shape="star" class="is-solid"></clr-icon>
              <clr-icon shape="star" class="is-solid"></clr-icon>
              <clr-icon shape="star" class="is-solid"></clr-icon>
              <clr-icon shape="star" class="is-solid"></clr-icon>
              <clr-icon shape="half-star" class="is-solid"></clr-icon>
            </span>
          </div>
  
          <div class="card-block">
            <div class="card-media-block">
              <img src="assets/img/restaurants/breadbakery.png" class="card-media-image">
              <div class="card-media-description">
                <span class="card-media-title">
                  Bakery
                </span>
                <span class="card-media-text">
                  60-85m
                </span>
              </div>
            </div>
          </div>
  
          <div class="card-footer">
            <span>
              <clr-icon shape="success-standard" class="is-solid"></clr-icon>
              Open
            </span>
            <span class="right floated">
              <clr-icon shape="star"></clr-icon>
              Favorite
            </span>
          </div>
        </div>
    </div>
  </div>
</section>
