button:focus {
	outline: none !important;
}

a:focus {
	outline: none !important;
}

.flex {
	display: flex;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.row {
	height: 100%;
}

.btn-group {
	margin: 0 .5rem;
}

.btn-tab {
	background-color: #F3F6FA;
}

.card-rating {
	margin: 0 0 0 auto;
}
