<!--INICIO DO CARRINHO-->
<div class="card">
	<div class="card-header">
		<clr-icon shape="shopping-cart" class="is-solid"></clr-icon>
		Carrinho
	</div>

	<div *ngIf="!items().length" class="card-block">
		<p class="text-center">
			Seu carrinho está vazio!
		</p>
	</div>

	<div *ngIf="items().length" class="card-block">
		<ul class="list-group list-group-flush">
			<li *ngFor="let item of items()" class="list-group-item">
				<span class="item-shopping">{{ item.menuItem.name }}</span>
				<span class="price">{{ item.value() | currency:'BRL' }}</span>
			</li>

			<li class="list-group-item">
				<clr-icon shape="truck"></clr-icon>
				<span class="item-shopping"> Frete</span>
				<span class="price">R$ 8,00</span>
			</li>
			<li class="list-group-item">
				<clr-icon shape="calculator"></clr-icon>
				<span class="item-shopping"> Total</span>
				<span class="price">
					<strong>{{total() | currency:'BRL'}}</strong>
				</span>
			</li>
		</ul>
	</div>

	<div *ngIf="items().length" class="card-footer">
    <div class="row flex-items-xs-center">
      <div class="btn-group">
        <a href="order.html" class="btn btn-success-outline">
          <clr-icon shape="trash"></clr-icon> Fechar Pedido
        </a>
        <button class="btn btn-danger-outline">
          <clr-icon shape="credit-card"></clr-icon> Limpar
        </button>
      </div>
      </div>
  </div>
</div>
<!-- FIM DO CARRINHO -->
