
	<div class="col-xs-12 col-sm-6" *ngFor="let review of reviews | async">
		<div class="card">
			<div class="card-block">
				<div class="card-media-block">
					<clr-icon class="card-media-image" *ngIf="review.rating < 3" shape="sad-face"></clr-icon>
					<clr-icon class="card-media-image" *ngIf="review.rating >= 3 && review.rating < 4" shape="neutral-face"></clr-icon>
					<clr-icon class="card-media-image" *ngIf="review.rating >= 4" shape="happy-face"></clr-icon>
					
					<div class="card-media-description" id="review-name">
						<span class="card-rating">
							<clr-icon shape="star" class="is-solid"></clr-icon>
							{{ review.rating }}
						</span>
						<span class="card-media-title">
							<strong>{{ review.name }}</strong>
						</span>
						<span class="card-media-text">
							{{ review.date | date:'dd/MM/yyyy' }}
						</span>
					</div>
				</div>
			</div>
			<div class="card-block">
				<div class="card-text">
					{{ review.comments }}
				</div>
			</div>
		</div>
	</div>
