.center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.right {
	float: right;
}

.header .branding .logo {
	margin-right: 11px;
  min-width: none;
  height: 36px;
  width: 36px;
}

.v-middle{
	padding-bottom: auto !important;
	padding-top: auto !important;
}

.card-img img {
	height: 20vh;
  width: auto;
}

.card-media-block .card-media-image {
	border-radius: .125rem;
	height: 3.65rem;
  width: auto;
	max-height: 6rem;
  max-width: 6rem;
}

.card.clickable:hover {
	box-shadow: 0 0.125rem 0 0 rgba(40, 19, 54, 0.60);
	border-color: rgba(40, 19, 54, 0.60);
}