.center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.header .branding .logo {
	margin-right: 11px;
  min-width: none;
  height: 36px;
  width: 36px;
}

.v-middle{
	padding-bottom: auto !important;
	padding-top: auto !important;
}