@media only screen and (max-width : 768px) {
	#card-media-block {
		display: block;
	}
	
	.brand-logo {
		display: block;
		margin: 0 auto;
	}
}


lan-menu {
	display: flex;
}

lan-reviews {
	display: flex;
  flex-wrap: wrap;
}

.card-rating {
	float: right;
}

.item-total {
	font-weight: 600;
}

.status-restaurant {
	margin-left: .5rem;
}

.price {
	font-weight: 400;
	margin: 0 0 0 auto;
}
