<section class="content-header">
	<h1>

	</h1>
</section>

<section class="content">

	<div class="row">
		<div class="col-xs-12">
			<div class="card" *ngIf="restaurant">
				<div class="card-header">
					<a routerLink="/">
						<clr-icon shape="home" class="is-solid"></clr-icon>
					</a>
					{{ restaurant?.name }}
					<span class="right">
						<clr-icon *ngFor="let star of fakeArray" shape="star" class="is-solid"></clr-icon>
						<clr-icon *ngIf="rest" shape="half-star" class="is-solid" id="half-star"></clr-icon>
					</span>
				</div>

				<div class="card-block">
					<div class="card-media-block" id="card-media-block">
						<img [src]="restaurant.imagePath" class="card-media-image" class="brand-logo">
						<div class="card-media-description">
							<dt>
								<strong>Categoria</strong>
							</dt>
							<dd>{{ restaurant?.category?.name }}</dd>
							<dt>
								<strong>Quem somos</strong>
							</dt>
							<dd>{{ restaurant?.about }}</dd>
							<dt>
								<strong>Horários</strong>
							</dt>
							<dd>{{ restaurant?.hours }}</dd>
							<dt>
								<strong>Estimativa de Entrega</strong>
							</dt>
							<dd>{{ restaurant?.deliveryEstimate }} min</dd>
						</div>
					</div>
				</div>

					<div class="card-block">
						<span class="status-restaurant">
							<clr-icon [attr.shape]="status?.icon" class="is-solid"></clr-icon>
							{{ status?.message }}
						</span>
						<span class="right floated">
							<clr-icon shape="star" [class.is-solid]="restaurant.favorite"></clr-icon>
							Favorito
						</span>
					</div>
					<div class="card-footer">
						<div class="row flex-items-xs-center">
							<a routerLink="menu" routerLinkActive="btn-tab" class="btn btn-sm btn-link col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">Menu</a>
							<a routerLink="reviews" routerLinkActive="btn-tab" class="btn btn-sm btn-link col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">Avaliações</a>
						</div>
					</div>
				</div>
			</div>
			<!-- /.col-xs-12 -->

		</div>


		<div class="row">
			<router-outlet></router-outlet>
		</div>

</section>
