.jumbotron {
  background-color: #FFFFFF;
  margin: 5% 5%;
  flex: 1 1 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1.5rem 1rem 1.5rem 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: auto;
}

@media (min-width: 768px) {
	.jumbotron {
		margin: 5% 10%;
		padding: 10% 0;
	}
}

