<!--INÍCIO DO MENU -->
<div class="col-xs-12	col-sm-12	col-md-6 col-lg-8	col-xl-9">

	<div class="col-xs-12	col-sm-12	col-md-12 col-lg-4	col-xl-4">
    <div class="card">
      <div class="card-header">
        CUP CAKE
      </div>
    
      <div class="card-block">
        <div class="card-media-block">
          <img src="assets/img/foods/cupcake.png" class="card-media-image">
          <div class="card-media-description">
            <span class="card-media-text">
              Cup Cake reacheado de Doce de Leite
            </span>
          </div>
        </div>
      </div>
    
      <div class="card-footer">
        <div class="row flex-items-xs-between">
          <label class="item-price">R$ 10,00</label>
          <button class="btn btn-link">
            <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
            Adicionar
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="col-xs-12	col-sm-12	col-md-6 col-lg-4	col-xl-3">
	<lan-shopping-cart></lan-shopping-cart>
</div>
<!-- FIM DO MENU -->


